    <main>
<h1>Games</h1>
   <!--title -->

         <!--saved games box -->

        <div class="row" id="saved-games-container">
	    {{#each games}}
            {{#if this.saved-games}}
		    
	
		<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="game-box">
        	<div class="box gallery">
				<div class="card">
    				<img class="img-responsive" id="saved-games" src={{this.game_image}}>
    				<a onClick="modalDisplay({{@index}})" href="#" class="overlay link" id="trigger-modal{{@index}}"></a>
						<div class="info">
      		        		<div class="foot">
								<p class="game-title">{{this.game_name}}</p>
                                </div>
     		    		</div>
     	    	</div>
        	</div>
		</div>

        </div>

        {{/if}}
        {{/each}}

        <div class="row" id="saved-games-container">
	    {{#each games}}
            {{#if this.saved-games}}
		    
	
		<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="game-box">
        	<div class="box gallery">
				<div class="card">
    				<img class="img-responsive" id="saved-games" src={{this.game_image}}>
    				<a onClick="modalDisplay({{@index}})" href="#" class="overlay link" id="trigger-modal{{@index}}"></a>
						<div class="info">
      		        		<div class="foot">
								<p class="game-title">{{this.game_name}}</p>
                                </div>
     		    		</div>
     	    	</div>
        	</div>
		</div>

        </div>

        {{/if}}
        {{/each}}

        <div class="row" id="rpg-games-container">
	    {{#each games}}
            {{#if this.rpg}}
		    
	
		<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="game-box">
        	<div class="box gallery">
				<div class="card">
    				<img class="img-responsive" id="saved-games" src={{this.game_image}}>
    				<a onClick="modalDisplay({{@index}})" href="#" class="overlay link" id="trigger-modal{{@index}}"></a>
						<div class="info">
      		        		<div class="foot">
								<p class="game-title">{{this.game_name}}</p>
                                </div>
     		    		</div>
     	    	</div>
        	</div>
		</div>

        </div>

        {{/if}}
        {{/each}}

        <div class="row" id="fps-games-container">
	    {{#each games}}
            {{#if this.fps}}
		    
	
		<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="game-box">
        	<div class="box gallery">
				<div class="card">
    				<img class="img-responsive" id="saved-games" src={{this.game_image}}>
    				<a onClick="modalDisplay({{@index}})" href="#" class="overlay link" id="trigger-modal{{@index}}"></a>
						<div class="info">
      		        		<div class="foot">
								<p class="game-title">{{this.game_name}}</p>
                                </div>
     		    		</div>
     	    	</div>
        	</div>
		</div>

        </div>

        {{/if}}
        {{/each}}

        <div class="row" id="sports-games-container">
	    {{#each games}}
            {{#if this.fps}}
		    
	
		<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" id="game-box">
        	<div class="box gallery">
				<div class="card">
    				<img class="img-responsive" id="saved-games" src={{this.game_image}}>
    				<a onClick="modalDisplay({{@index}})" href="#" class="overlay link" id="trigger-modal{{@index}}"></a>
						<div class="info">
      		        		<div class="foot">
								<p class="game-title">{{this.game_name}}</p>
                                </div>
     		    		</div>
     	    	</div>
        	</div>
		</div>

        </div>

        {{/if}}
        {{/each}}

        <!-- game details modal -->
        <div id="myModal{{@index}}" class="modal">

  		<!-- Modal content -->
  		<div class="modal-content">
   
    		<div class="row" id="modal-body">
      			<!--cover image -->
					<div class="col-5" id="search-game">
						<img id="selected-game-cover" src={{this.game_image}}>
					</div>

					<div class="col-7" id="game-scroll">
						<!--close BTN -->
						<span id='closeit{{@index}}' class="close">&times;</span>
						
						<div class="container" id="modal-game-info-box">
							<!--Game Title -->
							<h2 class="game-title" id="modal-game-title">{{this.game_name}}</h2>
							<!--Year & Genre -->
							<div class="row" id="YRG-box">
								<div class="col-2" id="year"><h5>{{this.game_year}}</h5></div>
								<div class="col-6" id="genre"><h5>{{this.game_genre}}</h5></div>
							</div>
							<!--Description -->
							<div class="row">
								<div class="col-10" id="plot">	
									<p><strong>Plot: </strong>{{this.game_description}}</p>
								</div>
							</div>
							<!--saved game BTN -->
							<div class="row">
								<div class="col-md-3">
								<form action="/api/new/saved/{{this.id}}?_method=PUT" method="POST">
									<input type="hidden" name="saved" value="true">
									<button type="submit"><img id="saved-game-button" src=""></button>
								</form>
								</div>

    </main>

<footer class="footer">
	<div class="footer_text-box"> 
		<p id="footer_text">© </p>
	</div>

</footer>    

<script src="/js/homepage.js" ></script>
